@import "../../scss/abstract/mixins";
@import "../../scss/abstract/constants";

.create__account {
  background: $color-brand;
  box-shadow: 0 2px 6px rgba(26, 35, 59, 0.120957);
  .create__account_block{
    text-align: center;
    .create__account_header {
      padding-top: 28px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 0;
    color: $color-white;
    .create__account_description{
      @include font(1.8rem, 3rem, normal);
      @include mobile{
        text-align: center;
      }
    }
    
  }
}

.ico_logo {
  @include bg-img("../../assets/img/logo-white.svg", 56px, 74px);
}

.create__account_buttons {
  .button {
    margin-right: 20px;
  }
  .trial__container{
    @include flex();
    @include font(1.4rem, 3rem, 600);
    padding-top: 16px;
  }
  
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}

.ico_checked {
  margin:0 8px 0 15px;
  @include bg-img ("../../assets/img/icons/checkmark.png",24px)
}