@import "../../scss/abstract/mixins";
@import "../../scss/abstract/constants";

.signage{
  background: $color-background;
  .section__description {
    @include font(1.8rem, 3rem, normal);
    color: $color-text;
  }
  .layout__2_column {
    @include columns($width: 521px);
    @include font(2.2rem, 3rem, bold);
    padding-bottom: 87px;
    color: $color-hading;
  }
}
.signage__text {
  text-align: center;
}

.section__header {
  padding-top: 93px;
}

.section__header {
  text-align: center;
}