@import "../../scss/abstract/mixins";
@import "../../scss/abstract/constants";

.sidebar {
    @include mobile {
        display: none;
    }
    background-color: $color-background;
    z-index: 100;
    width: 100%;
    .sidebar__container {
        padding: 1px 0 1px;
        .menu {
            display: flex;
            align-items: center;
            padding-left: 0;
            .menu__item {
                @include flex(flex-start);
                margin-right: 15px;
                .menu__link {
                    display: flex;
                    @include font (14px, 19px, 600);
                    text-decoration: none;
                    top: calc(50% - 19px/2);
                }
                .icon {
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 10px;
                    background-position: center;
                }
            }
        }
    }
}

.ico_binary {
    @include bg-img("../../assets/img/icons/sidebar/binary.png", 24px);
}

.ico_arrow {
    @include bg-img("../../assets/img/icons/sidebar/arrow.png", 24px);
}

.ico_check {
    @include bg-img("../../assets/img/icons/sidebar/check.png", 24px);
}

.ico_clip {
    @include bg-img("../../assets/img/icons/sidebar/clip.png",26.68px, 24px);
}

.ico_seek {
    @include bg-img("../../assets/img/icons/sidebar/seek.png", 24px);
}

.ico_wall {
    @include bg-img("../../assets/img/icons/sidebar/wall.png",20.98px, 24px);
}

.ico_display {
    @include bg-img("../../assets/img/icons/sidebar/display.png", 24.67px, 26px);
}

.ico_bot {
    @include bg-img("../../assets/img/icons/sidebar/bot.png", 22px,24px);
}




