@import "../../scss/abstract/mixins";
@import "../../scss/abstract/constants";

.button{
  @include font(1.5rem, 3.2rem, 700);
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  height: 44px;
  outline: none;
  border: none;
  .prom,
  .foo {
    width: 119px;
  }

  &_bordered {
    background: $color-white;
    border: 1px solid $color-brand;
    color: $color-brand;
    padding: 6px 34px;
    margin-right: 15px;
    &:hover {
      background: $color-background;
      color: $color-brand;
      @extend %transition;
    }
  }
  &_colored {
    background: $color-brand;
    border-color: $color-brand;
    color: $color-white;
    padding: 6px 21px 20px;
    @extend %transition;
    &:hover{
      background: $color-white;
      color: $color-brand;
      border-color: $color-white;
    }
  }
  &_long_colored {
    background: $color-brand;
    border: 1px solid $color-white;
    color: $color-white;
    padding: 6px 50px;
    @extend %transition;
    margin-right: 20px;
    &:hover {
      background: $color-white;
      border-color: $color-brand;
      color: $color-brand;
    }
  }
  &_long_light {
    background: $color-white;
    border: 1px solid $color-white;
    color: $color-brand;
    padding: 6px 20px 19px;
    @extend %transition;
    &:hover {
      background: $color-brand;
      border-color: $color-white;
      color: $color-white;
    }
  }
}


